#main {
  height: 100%; }
  #main .recommend h4 {
    padding: 1rem 0; }
    #main .recommend h4 span {
      border-left: 0.1rem solid red;
      padding-left: 0.5rem; }
  #main .recommend .newMusic {
    height: 22.5rem;
    overflow: hidden; }
